* {
  box-sizing: border-box;
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Lora', serif; 
  margin: 0;
  padding: 0;
  text-align: center;
  outline: 1px solid transparent;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-size: cover; 
  width: 100%;
/*   scroll-snap-type: y mandatory; */
/*   scroll-snap-type: y proximity; */
}

body {
  height: 500vh;
  width: 100%;
  pointer-events: none;
/*   background-color: gray; */
}

.bg-box-shadow {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 500px rgba(255, 255, 255, 1);
  z-index: -2;
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size-adjust: 1.3;
}


.bg-boxes {
  transition: transform 1s cubic-bezier(.19,1,.22,1) 0.0s;
  height: 1000vh;
  width: 100vw;
/*   top: 150vh; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  perspective: 3000px;
  perspective-origin: 0% 0%;
  z-index: -3;
}

.box {
  height: 18vh;
  width: 10vw;
  background-color: rgba(0, 100, 255, 0.3);
/*   filter: invert(100%); */
/*   border: 2px solid gray; */
/*   transform: translate3d(0, 0, 0); */
/*   position: absolute; */
}




/*------------------- LANDING ---------------------*/
#buffer-name-buffer {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0%;
  transform: scale(1);
/*   box-shadow: 0 0 50px 5px rgba(0, 0, 0, .5); */
/*   background-color: black; */
  position: fixed;
  z-index: -1;
  display: grid;
  grid-template-areas: "left name right";
  transition: 0.5s;
    perspective: 3000px;
/*   perspective-origin: 0% 0%; */
}

.buffer-left, .buffer-right {
  transition: 0.5s;
/*   border: 2px solid white; */
/*   background-color: black; */
  height: 100vh;
/*   margin-top: 10vh; */
  width: 20vw;
/*   opacity: 0; */
}

.buffer-left {
  grid-area: left;
  transform: rotate3d(0, 1, 0, -75deg) translateZ(-60px);
/*   transform: translate3d(0, -150%, 0); */
}

.buffer-right {
  grid-area: right;
  transform: rotate3d(0, 1, 0, 75deg) translateZ(-60px);
/*   transform: translate3d(0, -150%, 0); */
}

.landing-animation .buffer-left {
/*   animation: buffer-rotateL 1s 2s forwards; */
}

.landing-animation .buffer-right {
/*   animation: buffer-rotateR 1s 2s forwards; */
}

@keyframes buffer-rotateL {
  from {transform: rotate3d(0, 1, 0, -75deg) translateZ(-60px);}
  to {transform: rotate3d(0, 1, 0, 0deg) translateZ(0px);}
}

@keyframes buffer-rotateR {
  from {transform: rotate3d(0, 1, 0, 75deg) translateZ(-60px);}
  to {transform: rotate3d(0, 1, 0, 0deg) translateZ(0px);}
}




#name {
  transition: 0.5s;
/*   font-size-adjust: 0.5; */
  background-color: black;
  border: 2px solid transparent;
  color: white;
  grid-area: name;
  margin-top: 0;
  height: 100vh;
  width: 60vw;
/*   text-align: left; */
  padding-top: 30vh;
  opacity: 1;
  z-index: 3;
}

.landing-animation#buffer-name-buffer:before, .landing-animation#buffer-name-buffer:after {
  animation-name: expand;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#buffer-name-buffer:before {
  content: '';
  position: absolute;
  height: 40vw;
  width: 40vw;
  background-color: black;
  top: 15vw;
  left: 30vw;
  clip-path: circle(50% at 50% 50%);
  z-index: -1;
/*   opacity: 0; */
}

#buffer-name-buffer:after {
  content: '';
  position: absolute;
  height: 50vw;
  width: 50vw;
  background-color: red;
  top: 10vw;
  left: 25vw;
  clip-path: circle(50% at 50% 50%);
  z-index: -2;
/*   opacity: 0; */
}

@keyframes expand {
  from{transform: scale3d(0, 0, 0); opacity: 1}
  to{transform: scale3d(3, 3, 3); opacity: 0}
}

.landing-animation #name {
/*   font-size-adjust: 3; */
  text-align: center;
  animation-name: landing;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.9,-0.11,.73,1.07);
}

/* @keyframes landing {
  0% {transform: translate3d(0%, -50%, 500px); opacity: 0}
  50% {transform: translate3d(0%, 0%, 100px)}
  100% {transform: translate3d(0%, 0, 0px); opacity: 1}
} */

@keyframes landing {
  from {color: black}
  to {color: white}
}



section.landing-animation {
  animation-name: nav-landing;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-iteration-count: 1;
}

@keyframes nav-landing {
  0% {transform: scale(1)}
  70% {transform: scale(1)}
  80% {transform: scale(0.9)}
  90% {transform: scale(1)}
  100% {box-shadow: unset}
}
  








/* --------------------- ABOUT ME ------------------ */
.about-me-container {
  transition: 0.5s;
  position: fixed;
  top: 100vh;
  perspective: 3000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  color: white;
  display: grid;
  grid-template-areas: "label visual" "content visual";
}

.about-me-label {
  text-align: center;
  grid-area: label;
  z-index: 1;
/*   margin-top: 40%; */
  background-color: black;
  border: 2px solid white;
  transition: 0.5s;
/*   transform: translate3d(0, 300%, 0); */
}

.about-me-content {
  background-color: black;
  border: 2px solid white;
  text-align: center;
  grid-area: content;
  line-height: 180%;
  z-index: 1;
  transition: 0.5s;
/*   transform: translate3d(0, 300%, 0); */
}

.about-me-visual {
  background-color: black;
  border: 2px solid white;
  grid-area: visual;
  height: 30vh;
  width: 30vw;
  transition: 0.5s;
/*   transform: translate3d(0, 300%, 0); */
}







/*------------------- PROJECTS ---------------------*/
.project-containers {
  position: fixed;
  top: 200vh;
  transition: 0.5s;
  height: 100vh;
  display: grid;
  align-content: space-evenly;
}

.project-one-container, .project-two-container, .project-three-container {
  background-color: black;
  color: white;
  height: 25vh;
  transition: 0.5s;
}

.project-one, .project-two, .project-three {

}

.project-one-container {
/*   transform: translate3d(0%, 0%, 0); */
  
}

.project-one {

}

.project-two-container {
/*   transform: translate3d(15%, 0%, 0); */

}

.project-two {

}

.project-three-container {
/*   transform: translate3d(0%, 100%, 0); */

}

.project-three {

}





.project-heading { 

}

.project-title {

}

.project-details {

}

.project-description {

}

.project-buttons-container {
  grid-area: buttons;
  height: 15vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
/*   align-items: center; */
/*   margin-top: 10vh; */
/*   width: 90%; */
  margin-left: -0.5vw;
  position: relative;
}

.project-buttons {
  border-radius: 15px;
  border: unset;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size-adjust: 0.5;
  font-weight: bold;
/*   font-family: 'Fjalla One', sans-serif; */
  height: 5vh;
  width: max-content;
  transition: 0.2s;
}

.project-buttons:before {
  content: '';
  height: 1.3em;
  width: 2vw;
  left: 0;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  transform: translate3d(-200%, 0, 0);
  transition: 0.3s;
  transition-timing-function: cubic-bezier(.11, .87, .3, .86);
  clip-path: polygon(47% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 53% 5%, 53% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 47% 95%);
  opacity: 0;
/*   clip-path: polygon(100% 0, 100% 5%, 5% 5%, 5% 95%, 100% 95%, 100% 100%, 0 100%, 0 0); */
}

.project-buttons:after {
  content: '';
  height: 1.3em;
  width: 2vw;
  right: 70%;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  transform: translate3d(200%, 0, 0);
  transition: 0.3s;
  transition-timing-function: cubic-bezier(.11, .87, .3, .86);
  clip-path: polygon(47% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 53% 5%, 53% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 47% 95%);
  opacity: 0;
/*   clip-path: polygon(0 5%, 5% 0, 100% 0, 100% 100%, 0 100%, 0 95%, 95% 95%, 95% 5%); */
}

.project-buttons:hover {
  color: black;
  position: relative;
/*   text-decoration: underline overline rgba(33, 150, 243, 1); */
}

.project-buttons:hover.project-buttons:before {
  left: unset;
  right: -10%;
  transform: translate3d(0, 0, 0);
  clip-path: polygon(0 5%, 5% 0, 100% 0, 100% 100%, 0 100%, 0 95%, 95% 95%, 95% 5%);
  opacity: 1;
}

.project-buttons:hover.project-buttons:after {
  right: unset;
  left: 10%;
  transform: translate3d(-80%, 0, 0);
  clip-path: polygon(100% 0, 100% 5%, 5% 5%, 5% 95%, 100% 95%, 100% 100%, 0 100%, 0 0);
  opacity: 1;
}







/* --------------- FOOTER -------------------- */
.contact-section {
  position: fixed;
  top: 300vh;
  transition: 0.5s;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "contact info";
  align-items: flex-end;
  justify-content: space-between;
}

.contact-me {
  transition: 0.5s;
  grid-area: contact;
  background-color: black;
  border: 2px solid white;
  height: 60vh;
  width: 50vw;
}

.information {
  transition: 0.5s;
  grid-area: info;
  background-color: black;
  border: 2px solid white;
  height: 50vh;
  width: 40vw;
}



i {
  font-size-adjust: 2;
  padding: 2vh;
  border-radius: 15px;
  opacity: 0.5;
}
  
i:hover {
  opacity: 1;
}





/* ------------------ TECH SVGS ---------------------- */







/* ---------------- MOBILE & SMALL SCREEN SIZING ----------------- */
@media only screen and (max-width:900px) {

}

@media only screen and (max-width:500px) {

}

