* {
  box-sizing: border-box;
  /* font-family: 'Roboto Slab', serif; */
/*   font-family: 'Lora', serif;  */
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
  outline: 1px solid transparent;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
/*   font-smoothing: antialiased */
/*   -webkit-font-smoothing: antialiased; */
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-size: cover; 
  width: 100%;
  height: 100%;
/*   scroll-snap-type: y mandatory; */
/*   scroll-snap-type: y proximity; */
}

body {
/*   height: 300%; */
/*   padding-top: 150vh; */
/*   overflow-y: hidden; */
  background-color: #062d3e;
  position: relative;
}

main {
/*   position: fixed; */
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}




/* --------------- HEADER --------------- */
.name {
/*   font-family: 'Lora', serif;  */
  color: white;
  background-color: #263941;
  position: fixed;
  top: 0;
  left: 0;
/*   height: 5vh; */
  line-height: 4vh;
  text-align: left;
  margin: 0;
  padding: 0.2em;
/*   margin-left: -5vw; */
/*   width: 80%; */
  font-size-adjust: 0.4;
  font-weight: lighter;
  z-index: 5;
/*   background-image: linear-gradient(to bottom, white, transparent); */
}

/* .name:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 80%;
  background-color: #263941;
  z-index: -1;
} */

.fixed-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
/*   padding-top: 2vh; */
  height: 10vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
/*   justify-content: space-evenly; */
  align-items: center;
  background-image: linear-gradient(to top, white, transparent);
}

.nav-buttons {
  height: 15vh;
  width: 60%;
  margin-left: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  transform: translate3d(0, 100%, 0);
}

.nav-buttons button {
  border: none;
  background-color: transparent;
}

.toggleMe .nav-buttons {
  transform: translate3d(0, 0%, 0);
}

.nav-buttons button {
/*   height: 4vh; */
/*   width: 10vw; */
  position: relative;
}

svg {
/*   position: absolute;
  top: 0;
  left: 0; */
}

.hamburger {
  height: 15vw;
  width: 15vw;
  margin-left: 5vw;
  border: 2px solid blue;
}

.animation-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  pointer-events: none;
}

.hamburger-line1, .hamburger-line2, .hamburger-line3 {
  height: 2px;
  width: 10vw;
  background-color: black;
  pointer-events: none;
  transition: 0.5s;
}

.toggleMe .hamburger-line1 {
  transform: translate3d(725%, 2000%, 0);
}

.toggleMe .hamburger-line2 {
  transform: translate3d(475%, 1350%, 0);
}

.toggleMe .hamburger-line3 {
  transform: translate3d(225%, 650%, 0);
}









/* ------------- PROJECTS --------------- */
.projects-container {
  margin-top: 35vh;
  height: 100%;
  width: 100%;
  position: relative;
/*   perspective: 1000px; */
/*   perspective-origin: 50% 50%; */
/*   transform: rotate3d(0, 1, 0, 10deg); */
  background-color: white;
/*   border-radius: 15px 15px 0 0; */
}

.projects-header {
  font-weight: inherit;
/*   font-size-adjust: 0.5; */
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 130%;
  top: -5vh;
  color: white;
  pointer-events: none;
}

.projects-header:before {
  content: '';
  background-color: #aed8e9;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 4;
}

.projects-header:after {
  content: '';
  background-color: #aed8e9;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 1px;
  height: 95%;
  z-index: 4;
}

.project-one-container, .project-two-container, .project-three-container {
/*   position: absolute; */
  position: relative;
  top: 0%;
  margin-top: 5vh;
  left: 10%;
  background-color: white;
  border-radius: 15px;
/*   border: 2px solid black; */
  transition: 0.5s;
  height: 10vh;
  width: 80%;
  padding: 2%;
  padding-top: 35%;
  z-index: 5;
  display: flex;
  flex-flow: column nowrap;
  perspective: 1000px;
  perspective-origin: 50% 50%;
/*   justify-content: space-evenly; */
}

/* .project-one-container:hover, .project-two-container:hover, .project-three-container:hover {
  height: 50%;
} */

.expand.project-one-container {
  height: 50vh;
}

.expand.project-two-container {
  height: 70vh;
}

.expand.project-three-container {
  height: 50vh;
}

.expand .project-content, .expand .project-content, .expand .project-content {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.expand .project-outline, .expand .project-outline, .expand .project-outline {
  transform: rotate3d(0, 0, 0, 90deg);
  opacity: 1;
}

.project-one-container {
/*   z-index: 3; */
/*   top: 0%; */
/*   left: 25%; */
}

.project-two-container {
/*   z-index: 2; */
/*   top: 15%; */
/*   left: 35%; */
/*   transform: translate3d(0, 0, -50px); */
/*   filter: blur(2px); */
}

.project-three-container {
/*   z-index: 1; */
/*   top: 30%; */
/*   left: 45%; */
/*   transform: translate3d(0, 0, -100px); */
/*   filter: blur(4px); */
}

.project-outline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  transform: rotate3d(1, 1, 0, 90deg);
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.project-thumbnail {
  height: 100px;
  width: 90%;
  position: absolute;
  top: 4%;
  left: 5%;
  background-color: #20AFFF;
  z-index: 5;
}

.project-content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
  transition: 0.3s;
}

.project-heading, .project-title, .project-details, .project-description {
  text-align: left;
}










/* -------------- ABOUT ME -------------- */
.about-me-container {
  height: 150vh;
  width: 100vw;
/*   margin-top: 50vh; */
/*   margin-bottom: 70vh; */
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: white;
  position: relative;
/*   border-radius: 0 0 15px 15px; */
}

.background-border {
  position: relative;
  border: 1px solid #aed8e9;
}

.background-border-reveal {
  position: absolute;
  top: -10%;
  left: -2%;
  height: 150%;
  width: 104%;
  background-color: white;
/*   background-color: red; */
  transition: 3s;
  transition-timing-function: ease-out;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  transform-origin: bottom;
}

.about-me-label {
/*   background-color: white; */
  margin-top: -2vh;
  margin-bottom: 2vh;
  z-index: 6;
  position: relative;
  font-weight: inherit;
}

.about-me-label:before {
  content: '';
  position: absolute;
  background-color: white;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  z-index: -1;
}

.about-me-content {
  position: relative;
  z-index: 5;
  font-size: 16px;
  line-height: 26px;
/*   text-align: left; */
  padding: 1em;
}








/* -------------- CONTACT ME --------------- */
.contact-section {
  height: 100%;
  width: 100%;
  position: fixed;
/*   margin-top: 100vh; */
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.contact-section div {
  color: white;
}

/* .contact-me-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 60vh;
}

label {
  text-align: left;
}

#form-message {
  height: 40vh;
}

#form-submit {
  width: 33%;
  margin-left: 33%;
} */




























i {
  font-size-adjust: 2;
  padding: 2vh;
  border-radius: 15px;
  opacity: 0.5;
}
  
i:hover {
  opacity: 1;
}





/* ------------------ TECH SVGS ---------------------- */







/* ---------------- MOBILE & SMALL SCREEN SIZING ----------------- */
@media only screen and (max-width:900px) {

}

@media only screen and (max-width:500px) {

}

